.center-text {
    text-align: center;
}

.hp-bar {
    margin: auto;
    height: 25px;
    transition: width 500ms;
}

.controls, .game-log {
    border: 1px solid black;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
}

.game-log ul {
    list-style: none;
}

.game-log li {
    margin: 5px;
}

.game-log .player {
    color: blue;
    background-color: lightblue;
}

.game-log .monster {
    color: red;
    background-color: pink;
}

button {
    font-size: 20px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 1px black;
    border-radius: 10px;
}

#start-game {
    background-color: aqua;
    color: blue;
}

#attack {
    background-color: pink;
    color: red;
}

#special-attack {
    background-color: violet;
    color: blue;
}

#heal {
    background-color: lightgreen;
    color: teal;
}