<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <!-- <script src="../vue.js"></script> -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="center-text">YOU</h1>
                <div class="hp-bar">
                    <div class="hp-bar center-text" style="background-color: red; margin: 0; color: yellow;"
                    :style="{width: player + '%'}">
                        {{ player }}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="center-text">MONSTER</h1>
                <div class="hp-bar">
                    <div class="hp-bar center-text" style="background-color: red; margin: 0; color: yellow;"
                    :style="{width: monster + '%'}">
                        {{ monster }}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls" v-if="!hasGameStarted">
            <div class="small-12 columns">
                <button id="start-game" @click="start">START NEW GAME</button>
            </div>
        </section>
        <section class="row controls" v-else>
            <div class="small-12 columns">
                <button id="attack" @click="attack">ATTACK</button>
                <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
                <button id="heal" @click="heal">HEAL</button>
                <button id="leave" @click="leave">GIVE UP</button>
            </div>
        </section>
        <section class="row game-log" v-if="turns.length > 0">
            <div class="small-12 columns">
                <ul>
                    <li v-for="turn in turns"
                        :class="{'player': turn.isPlayer, 'monster': !turn.isPlayer}">
                        {{ turn.text }}
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <script src="app.js"></script>
</body>

</html>